body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24pt;
    color: rgb(255, 3, 251)
}

p{
    color:blue
    background-color: rgb(255, 255, 255);

}

a:visited{
    color: rgb(255, 231, 20);
}

.text-menu{
    display: block;
    float:right;
    text-align: left;
    max-width: 40%;
    margin-left: 10px;
    padding: 2rem;
    padding-right: 3rem;
    background-color: white;
    
}

.landing-image {
    display:block;
    position:fixed;
    object-fit: cover;
    width: auto;
    max-height: 100%;
    margin-left:  0rem;
    padding: 0rem;
    z-index: -1;
}

@media (max-width: 1200px) {
    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18pt;
        color: rgb(37, 203, 98)
    }
  }