*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar {
    display: none;
}

:root {
    --blue: rgb(170, 66, 255);
    --yellow: rgb(106, 255, 0);
    --border-width: .8vw;
  }


h1{
    color: var(--blue);
    font-size: 30px;
    animation: bannermove 15s linear infinite;
    text-align: center;
    /* white-space: nowrap; */
}
#extlink{
    /* background-color:  var(--blue); */
    color: var(--yellow);
    text-decoration: none;
    width: 30%;
    /* height: 100%; */
    font-size: 1.5vw;
    border-radius: 0%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upper {
    position: fixed;
    top: 0;  
}

.lower {
    position: fixed;
    bottom: 0px;
}

.banner{
    /* z-index: 100; */
	height: 80px;
	width: 100vw;
    background-color: var(--yellow);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}

@keyframes bannermove {
    from {
      transform: translateX(50%);
    }
    to {
      transform: translateX(-50%);
    }
}

.projects{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh !important;
    /* WHY ISN'T THIS WORKING????? */
    /* max-height: calc(100vh + 500px); */
    gap: 10px;
    /* if i get rid of the gap, the thing works. WHYYYYY? */
    /* padding: calc(10vh + 10px) 10px calc(10vh + 10px) 10px; */
    /* CALC you gotta have SPACES between the +  */
    padding: 90px 10px 90px 10px;
}

.backbutton{
    /* background-color:  var(--yellow); */
    background-color: white;
    color: var(--blue);
    border: var(--border-width) solid var(--blue);
    flex-grow: 3;
}

.backbutton:hover{
    /* background-color: var(--blue); */
    background-color: white;
    color:  var(--yellow);
    border: var(--border-width) solid var(--yellow);
}

.instructions{
    /* background-color:  var(--yellow); */
    font-size: 18px;
    background-color: white;
    color: var(--blue);
    border: var(--border-width) solid var(--blue);
    /* font-size: 20px; */
    /* grid: span 2; */
    width: 400px;
    max-height: calc(100vh - 160px) !important;
    flex-grow: 3;
    padding: 4vw;
}

.instructions:hover{
    /* background-color: var(--blue); */
    background-color: white;
    color:  var(--yellow);
    border: var(--border-width) solid var(--yellow);
}

a {
    background-color:  var(--blue);
    color: var(--yellow);
    text-decoration: none;
    width: 30%;
    /* height: 100%; */
    font-size: 1.5vw;
    border-radius: 50%;
    text-align: center;
    padding: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-basis: 10%; */
    flex-grow: 1;
}
a:hover{
    background-color: var(--yellow);
    color:  var(--blue);
}

@media (max-width: 1600px) {
    /* .projects{
        grid-template-columns: 1fr 1fr;
    } */
    .instructions{
        border: var(--border-width) solid var(--blue);
        padding: 6vw;
    }
    a{
        font-size: 24px;
        padding: 70px;
        /* width: 50%; */
    }
}

@media (max-width: 400px) {
    /* .projects{
        grid-template-columns: 1fr;
    } */
    .instructions{
        border: var(--border-width) solid var(--blue);
        padding: 10vw;
        font-size: 16px;
    }
    a{
        font-size: 16px;
        /* width: 100%; */
    }
}