*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar {
    display: none;
}

:root {
    --blue: rgb(170, 66, 255);
    --yellow: rgb(106, 255, 0);
    --border-width: .8vw;
  }

.divao{
    /* transform: translateZ(0); */
    height: 100vh;
    width: 100vw;
}

h1{
    color: var(--blue);
    font-size: 30px;
    animation: bannermove 15s linear infinite;
    text-align: center;
    white-space: nowrap;
}

.upper {
    position: fixed;
    top: 0;  
    left: 0;
    right: 0;
}

.lower {
    position: fixed;
    bottom: 0px;
}

.banner{
    z-index: 100;
	height: 10vh;
	width: 100vw;
    background-color: var(--yellow);
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;

}

@keyframes bannermove {
    from {
      transform: translateX(50%);
    }
    to {
      transform: translateX(-50%);
    }
}

p{
    font-size: 24px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}

.projects{
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: dense; */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 80vh;
    /* gap: 10px; */
    /* if i get rid of the gap, the thing works. WHYYYYY? */
    padding: calc(10vh + 10px) 10px calc(10vw + 10px) 10px;
    /* CALC you gotta have SPACES between the +  */

}

.instructions{
    /* background-color:  var(--yellow); */
    background-color: white;
    color: var(--blue);
    border: var(--border-width) solid var(--blue);
    /* font-size: 20px; */
    /* grid: span 2; */
    width: 400px;
    flex-grow: 4;
}

.instructions:hover{
    /* background-color: var(--blue); */
    background-color: white;
    color:  var(--yellow);
    border: var(--border-width) solid var(--yellow);
}

a {
    background-color:  var(--blue);
    color: var(--yellow);
    text-decoration: none;
    width: 30%;
    height: 100%;
    font-size: 30px;
    border-radius: 50%;
    text-align: center;
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex: 1 0 21%; */
}
a:hover{
    background-color: var(--yellow);
    color:  var(--blue);
}

@media (max-width: 1400px) {
    .projects{
        grid-template-columns: 1fr 1fr;
    }
    .instructions{
        border: var(--border-width) solid var(--blue);
    }
    a{
        font-size: 24px;
        padding: 70px;
        width: 50%;
    }
}

@media (max-width: 400px) {
    .projects{
        grid-template-columns: 1fr;
    }
    .instructions{
        border: var(--border-width) solid var(--blue);
    }
    a{
        font-size: 16px;
        width: 100%;
    }
}