body{
    margin:0px;
}
/* @-webkit-keyframes blackWhite {  
    0% { background-color: rgb(224, 255, 184); }
    30% { background-color: rgb(192, 250, 154); }
    70% { background-color: rgb(148, 228, 198); }
    100% { background-color: rgb(224, 255, 184); }
  } */

  /* @keyframes wipe-enter {
	0% { background-color: rgb(224, 255, 184); }
    30% { background-color: rgb(192, 250, 154); }
    70% { background-color: rgb(148, 228, 198); }
    100% { background-color: rgb(202, 255, 133); }
	
} */


.row {
    /* display: grid;
    grid-area: repeat (7,1fr); */
    display:flex;
    flex-direction: column;
    justify-content: center;

    height: 25vh;
    width: 100vw;
    
    scroll-snap-type: y mandatory; 
    overflow-y: scroll;
    scroll-snap-align: start;
    scroll-behavior: smooth;


    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */


    background-color: rgb(13, 13, 255);
    /* background-repeat:no-repeat;
    background-attachment:local; */
}

/* ROW COLORS  */
/* .row1{
    background-image: linear-gradient(rgb(227, 231, 176), rgb(255, 140, 140));
}
.row2{
    background-image: linear-gradient(rgb(255, 140, 140), rgb(0, 255, 208));
}
.row3{
    background-image: linear-gradient(rgb(0, 255, 208), rgb(223, 175, 253));
}
.row4{
    background-image: linear-gradient(rgb(223, 175, 253), rgb(200, 100, 100));
} */


p {
    font-family: 'Space Mono', monospace;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 70px;
    border-style: solid;
    border-color:coral;
    border-style: inset: 10px;
}

.letter-container{
    display: flex;
    flex-direction: row;
    justify-content:space-around; /*FUCK YEAH INGRID*/


    /*THIS SCROLL SHOULD BE ACCESSED BY USUAL SCROLLING*/
    /* scroll-snap-type: x mandatory; 
    overflow-x: scroll; */
    scroll-snap-align: center;/* this makes the scroll snap*/
    scroll-behavior: smooth;

/* 
    -webkit-animation-name: blackWhite;  
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-duration: 12s;  */

}

.letter-container p {
    height: 25vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /*THIS SCROLL SHOULD ONLY BE TRIGGERED TO RANDOMIZE AT CLICK*/

    line-height: 25vh;

    /* each p should be its own little box and have
    letters centered on it*/
}

.letter-container::-webkit-scrollbar {
    display: none;
  }

.row::-webkit-scrollbar {
display: none;
}



/*  QUESTIONS

1. How do I get each letter to snap 
at its central position when scrolling?
— you have to do it by hand because the 
position is mathematical and not
related to the element.

2. How do I make the gradient flow vertically
in each of the boxes, to indicate the position of the words?
just set a gradient on the back of the .letter-container boxes.
make it look vertically nice when the words are set
to a "logical" position.

(((OR CAN BE A SOUND COMPONENT (frequency to indicate the
equivalent position of each letter) ))) - do it later

3. To trigger when idle: multiple scrolling to original words?
let's not do that with idleness — let's use click as an event
trigger. randomize yay

*/