* {
    box-sizing: border-box;
}
body{
    margin:0px;
}

.window-container {
    width: 100vw;
    height: 100vh;
}

.row-container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100vw;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-snap-align: center;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

}
.row-container::-webkit-scrollbar {
    display: none;
}

.row {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 25vh;
    width: 100vw;
    
    scroll-snap-type: y mandatory; 
    overflow-y: scroll;
    scroll-snap-align: center;
    scroll-behavior: smooth;


    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */


    background-color: rgb(155, 155, 255);
    /* background-color: rgb(155, 155, 255); */
}
/* .column1{
    background-color: rgb(27, 27, 99);
}
.column2{
    background-color: rgb(104, 159, 97);
}
.column3{
    background-color: rgb(232, 158, 67);
} */
/* TESTING COLORS TO SEE WHAT'S WORKING AND WHAT'S NOT */
/* .adjectives{
    background-color: rgb(43, 43, 255);
}
.nouns{
    background-color: rgb(43, 255, 160);
}
.adverbs{
    background-color: rgb(255, 251, 43);
}
.verbs{
    background-color: rgb(251, 43, 255);
} */

p {
    font-family: 'Space Mono', monospace;
    color: rgb(255, 255, 255);
    text-align: center;
    /* font-size: max((5vw+5vh)/2, 60px); */
    font-size: min(max(50px, 4vw), 100px);
    border-style: solid;
    border-color:rgb(251, 255, 0);
    border-style: inset 10px;
    margin: 0;
}

.letter-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around; /*FUCK YEAH INGRID*/

    /*THIS SCROLL SHOULD BE ACCESSED BY USUAL SCROLLING*/
    scroll-snap-align: center;/* this makes the scroll snap*/
    scroll-behavior: smooth;
}

.letter-container p {
    height: 25vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 25vh;
}

.row::-webkit-scrollbar {
    display: none;
}



/*  QUESTIONS

1. How do I get each letter to snap 
at its central position when scrolling?
— you have to do it by hand because the 
position is mathematical and not
related to the element.

2. How do I make the gradient flow vertically
in each of the boxes, to indicate the position of the words?
just set a gradient on the back of the .letter-container boxes.
make it look vertically nice when the words are set
to a "logical" position.

(((OR CAN BE A SOUND COMPONENT (frequency to indicate the
equivalent position of each letter) ))) - do it later

3. To trigger when idle: multiple scrolling to original words?
let's not do that with idleness — let's use click as an event
trigger. randomize yay

*/